/2D_DynArray/build/
/2D_DynArray/dist/
/Class9.19/build/
/Class9.19/dist/
/Gaddis Chap3.13/build/
/Gaddis Chap3.13/dist/
/Gaddis Chap4.10/build/
/Gaddis Chap4.10/dist/
/Gaddis Chap5.11/build/
/Gaddis Chap5.11/dist/
/Gaddis Chap6.7/build/
/Gaddis Chap6.7/dist/
/mean,med,mode/build/
/mean,med,mode/dist/
/Gaddis Chap7.6/build/
/Gaddis Chap7.6/dist/
/Gaddis Chap8.7/build/
/Gaddis Chap8.7/dist/
/Gaddis Chap4.23/build/
/Gaddis Chap4.23/dist/
/Gaddis Chap4.16/build/
/Gaddis Chap4.16/dist/
/craps simulation/build/
/craps simulation/dist/
/Gaddis Chap6.8/build/
/Gaddis Chap6.8/dist/
/Gaddis Chap9/build/
/Gaddis Chap9/dist/
/CLass9.28/build/